@use './styles';

.header{
  background-color: #036666;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: styles.$box-shadow;
}

.header__ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
   padding: 1rem;
}

.header__div{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__div3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__div3__cart{
 position: relative;
}

.cart__length{
position: absolute;
bottom: 14px;
left: 9px;
background-color: red;
border-radius: 50%;
width: 1rem;
height: 1rem;
@include styles.center-elements();
color: #FFFFFF;
border: 2px solid #036666;
font-size: styles.$productCard-title-fontSize;
}

.header__h1{
  font-size: styles.$productCard-title-fontSize;
  font-weight: 700;
  color: #99e2b4;
  line-height: 12px;
}

li{
  list-style: none;
}